[Unit]
Description=Anbox Container Manager
After=network.target
Wants=network.target

[Service]
ExecStartPre=/usr/local/bin/anbox-container-manager-pre.sh
ExecStartPre=/usr/local/share/anbox/anbox-bridge.sh start
ExecStart=/usr/local/bin/anbox container-manager --daemon --data-path=/var/lib/anbox --android-image=/aind-android.img --use-rootfs-overlay --use-squashfuse
ExecStopPost=/usr/local/share/anbox/anbox-bridge.sh stop

[Install]
WantedBy=docker-entrypoint.target
